.auth-button {
    margin-top: 5px;
    cursor: pointer;
    transition: 250ms;
    background-color: rgb(249, 159, 159);
    border: 1px solid black;
}

.auth-button:hover {
    transition: 250ms;
    background-color: rgb(249, 159, 159);

    color: white;
    box-shadow: 0px 0px 5px 0px black;
}

.auth-button:active {
    transform: scale(0.97);
    transition: 250ms;
    box-shadow: 0px 0px 0px 0px black;
}
.auth {
    font-size: 1.2rem;
    width: 200px;
}

.hide {
    display: none;
}

.auth-title {
    text-align: center;
    margin-bottom: -10px;
}

#github-button {
    display: grid;
    justify-self: center;
}

#github-img {
    width: 90px;
}

#auth-form {
    background-color: rgb(251, 231, 231);
    border: 3px solid rgb(249, 159, 159);
}
