#menu {
    display: block;
    position: relative;
    top: 100px;
    left: 50px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menu a {
    text-decoration: none;
    color: rgb(249, 159, 159);
}

#menu a:hover {
    color: black;
}

#menu input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    top: -83px;
    left: -7px;
}

#menu span {
    top: -75px;
    left: 0px;
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: black;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menu span:first-child {
    transform-origin: 0% 0%;
}

#menu span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menu input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menu input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menu input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu-list {
    position: absolute;
    width: 285px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    top: 0px;
    background: rgb(255, 249, 254);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    display: grid;
    grid-template-columns: 1fr;
}

#menu-list a {
    width: 460;
}
#menu-list li {
    padding: 10px 0;
    font-size: 22px;
}

#menu input:checked ~ ul {
    transform: none;
}

#checkbox {
    position: absolute;
    top: -500px;
}
